/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */


.newsletter {
	display: flex;
	background-color: transparent;
	color: var(--wp--preset--color--text);
	padding: 0;
	margin: 0;
	gap: 2rem;

	.kks-news-list-column {
		display: flex;
		flex-basis: 33.33% !important;

		ul {
			list-style: none;
			padding: 0;
			margin: 0;


			.news-links {
				display: flex;
				white-space: wrap;
				gap: 0.6rem;
				margin-bottom: 1rem;

				.badge {
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: var(--wp--preset--color--tertiary);
					color: var(--wp--preset--color--text-inverse);
					border-radius: 5rem;
					font-size: small;
					font-weight: normal;
					line-height: 1;
					max-height: 2rem;
					text-align: center;
					vertical-align: top;
					letter-spacing: -0.01em;
					white-space: nowrap;
					padding: 0 1rem;
					text-overflow: ellipsis;
					text-transform: math-auto;
				}

			}
		}
	}

	.kks-news-issue-column {
		display: flex;
		height: 600px;
		max-width: 800px;
		flex-basis: 66.66% !important;

		.iframe-container {
			position: inherit;

			.iframe {
				border: 3px solid var(--wp--preset--color--primary);
				border-radius: 1rem;
				width: 53vw;
				max-width: 53rem;
				aspect-ratio: 16/9;
				background-color: var(--wp--preset--color--tertiary);
				background-repeat: no-repeat;
				background-position: center;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250' fill='none' viewBox='0 0 300 300'%3E%3Cg fill='%23056F9F' clip-path='url(%23clip0_66_2)'%3E%3Cpath fill-rule='evenodd' d='m198.758 292.449-58.468-2.799c.621-.667 1.009-1.412 1.184-2.245.788-3.707-3.114-6.536-6.808-8.619-.287-.377-.495-.69-.648-.94 1.045-.059 3.134.049 7.15.921 12.44 2.796 21.4 1.9 27.398-2.731 4.638-3.587 7.252-9.344 7.776-17.136l12.257-8 17.458 1.839c-3.685 7.72-5.969 19.84-6.938 36.763l-.343 2.29a2.64 2.64 0 0 0-.018.657Zm5.456 3.18a2.69 2.69 0 0 1-.849 1.634 2.687 2.687 0 0 1-1.822.71c-.043 0-.085 0-.13-.004l-78.331-3.749a2.692 2.692 0 0 1-.097-5.374c9.057-.768 12.029-1.975 12.956-2.548-.442-.511-1.568-1.53-4.361-3.063a2.728 2.728 0 0 1-.804-.673v-.001c-.938-1.169-3.791-4.725-1.92-7.749 1.64-2.652 5.546-3.033 13.474-1.305 10.643 2.392 18.357 1.807 22.943-1.735 3.635-2.808 5.52-7.544 5.757-14.47a2.696 2.696 0 0 1 1.221-2.164l14.206-9.273a2.697 2.697 0 0 1 1.755-.423l22.493 2.366a2.69 2.69 0 0 1 2.161 1.55 2.69 2.69 0 0 1-.218 2.649c-2.637 3.861-4.682 10.072-6.123 18.565.03.037.059.075.087.114 3.757 4.992 7.356 7.668 10.41 7.739 2.278.045 4.686-1.38 7.072-4.26a2.694 2.694 0 0 1 1.644-.941c2.769-.452 5.051.072 6.782 1.546 2.139 1.822 3.174 4.872 3.164 9.325 0 .595-.199 1.174-.563 1.643l-10.233 13.221A2.692 2.692 0 0 1 222.76 300c-.212 0-.42-.023-.632-.071l-17.914-4.3Zm.265-5.478 5.161 1.238-3.963-9.31-1.191 7.95a4.986 4.986 0 0 1-.007.122Zm17.216 4.131-5.534-1.328-4.45-10.454c1.721.836 3.444 1.27 5.184 1.311 3.775.078 7.319-1.712 10.61-5.357.687.003 1.185.13 1.523.417.716.612 1.162 2.164 1.253 4.322l-8.586 11.089Z' clip-rule='evenodd'/%3E%3Cpath fill-opacity='.2' fill-rule='evenodd' d='M84.749 228.326c24.361 23.313 51.729 26.314 89.184 15.014 8.654-4.046 17.305-6.012 25.959-3.509 5.989 2.555 8.297 3.447 18.028 3.196-11.561 6.256-17.458 7.154-29.956 3.118-50.675 27.577-85.214 24.179-103.215-17.819ZM240.202 219.155c.128-6.228 3.892-9.125 8.601-11.195 13.484-5.928 31.661-26.251 37.756-57.76 3.134 15.488 2.827 29.287-4.333 43.839-13.725 10.539-22.957 17.039-42.024 25.116ZM71.715 189.428l2.923-4.368c-22.643-19.768-38.05-31.085-60.459-54.082 20.267 26.004 44.582 46.122 57.536 58.45ZM6.021 115.307c-1.903-5.757 7.635-4.768 12.534-4.245 30.671 3.277 52.919 11.068 83.32 23.093l-3.687 7.01C64.096 116.603 4.327 106.718 6.02 115.307ZM218.776 90.92c8.785-23.519 19.274-46.643 32.726-69.084 7.391-7.844 8.329-2.376 11.483 15.261-.378-12.537-2.223-27.57-6.568-30.92-7.528-5.806-58.685 74.338-56.306 77.244l18.665 7.499Z' clip-rule='evenodd'/%3E%3Cellipse cx='202.487' cy='118.706' fill-opacity='.2' rx='13.5' ry='5.15' transform='rotate(-8.248 202.487 118.706)'/%3E%3Cellipse cx='121.296' cy='151.085' fill-opacity='.2' rx='13.5' ry='5.15' transform='rotate(-29.219 121.296 151.085)'/%3E%3Cpath fill-opacity='.2' d='m203 201.5-9.5-2.5-14.5 18.5 20 4.5-1-12.5 5-8Z'/%3E%3Cpath fill-rule='evenodd' d='M33.421 153.102c-8.09-8.586-15.782-17.341-22.857-26.027-6.129-9.979-5.514-13.644-4.596-14.943.824-1.162 4.254-3.541 18.314-.507.062.013.124.026.186.035 23.427 3.346 47.61 10.238 78.054 22.272l-4.25 7.669a2.696 2.696 0 0 0 2.353 4c.947 0 1.868-.501 2.359-1.389l5.34-9.633c.22-.205.409-.45.554-.731 15.046-29.136 43.372-43.652 86.594-44.375.283-.005.559-.055.819-.143 6.159.06 12.946 1.645 19.66 4.594a2.694 2.694 0 0 0 2.164-4.934c-6.217-2.73-12.533-4.395-18.489-4.892 11.234-23.902 26.399-47.258 45.118-69.482l.027-.033a1.214 1.214 0 0 0 .051-.065c6.816-8.892 10.168-9.305 11.288-9.074 1.757.361 3.456 3.31 4.654 8.068 5.162 21.299 3.209 50.572-6.331 94.913a2.696 2.696 0 0 0 1.237 2.871c31.359 19.037 40.248 46.005 27.16 82.428-11.378 10.041-25.227 18.457-41.171 25.028a2.71 2.71 0 0 0-1.328 1.185c-7.004 12.625-15.167 20.898-24.267 24.592-8.449 3.431-17.79 3.135-28.56-.901a2.695 2.695 0 0 0-2.698.475c-13.787 11.814-29.549 18.561-46.848 20.055-31.324 1.829-50.787-16.234-59.22-55.1a2.72 2.72 0 0 0-.019-.378l-.163-1.328c-1.012-8.251-1.884-15.378.069-21.966a2.693 2.693 0 1 0-5.162-1.533 33.428 33.428 0 0 0-1.24 6.639c-13.992-12.339-27.03-24.904-38.802-37.39Zm-8.094-46.763c23.996 3.437 48.71 10.502 79.829 22.842l2.027-3.658c.195-.351.458-.642.764-.866 7.827-12.319 18.437-21.919 31.619-28.59 14.588-7.385 32.784-11.4 54.109-11.944 11.528-25.12 27.304-49.647 46.91-72.931C247.117 2.678 252.399-.828 257.2.168c4.088.843 6.965 4.785 8.794 12.052 5.292 21.846 3.476 51.34-5.897 95.48 32.299 20.384 41.572 50.151 27.563 88.51a2.696 2.696 0 0 1-.735 1.084c-11.72 10.461-25.966 19.232-42.347 26.08-14.398 25.416-33.725 34.102-57.471 25.836-14.386 11.941-30.77 18.776-48.726 20.319h-.017l-.016.001h-.003l-.019.001-.016.001c-1.54.091-3.06.136-4.55.136-34.783 0-55.857-24.54-62.682-73.015-15.033-13.126-29.019-26.532-41.575-39.853-8.225-8.726-16.043-17.631-23.229-26.464a2.532 2.532 0 0 1-.205-.287c-6.155-9.978-7.587-16.66-4.498-21.025 3.261-4.615 10.812-5.468 23.756-2.685Zm179.524 42.206-.793-7.114a2.687 2.687 0 0 0-2.975-2.379 2.693 2.693 0 0 0-2.379 2.975l2.295 20.622a2.688 2.688 0 0 0 2.678 2.395c.997 0 1.904-.551 2.369-1.413.396-.384.679-.893.779-1.48.109-.636.225-1.265.347-1.889 5.114-14.334 16.403-22.8 35.278-26.531a2.692 2.692 0 1 0-1.044-5.283c-10.95 2.164-19.718 5.941-26.397 11.41 4.218-6.655 9.872-12.105 17.026-16.447a2.693 2.693 0 1 0-2.795-4.606c-11.552 7.014-19.72 16.986-24.389 29.74Zm6.261 78.796c-.994-3.253-3.602-7.986-4.968-7.885-1.462.109-1.935 1.253-2.643 2.963l-.159.384a56.871 56.871 0 0 0-2.891-1.338c-3.084-9.079-2.13-15.281 2.978-19.213 1.243.056 2.464.004 3.66-.156.123.525.336 1.071.613 1.613-2.874 2.804-2.527 5.651 1.027 10.279.14.183.348.277.563.277a.707.707 0 0 0 .563-1.142c-3.241-4.221-3.271-6.239-1.407-8.166 1.399 2.045 3.444 3.766 4.536 3.781 1.864.026 3.003-7.188 3.272-10.324 3.635-2.554 6.971-6.39 10.107-11.635-1.076 7.205-2.835 14.366-5.335 21.765-2.438-.014-4.81.491-5.045 1.642-.318 1.558 1.185 2.957 3.084 4.578-.352 3.662-1.433 6.272-3.471 8.412a2.6 2.6 0 0 0-.172.199c-2.477 3.167-3.685 3.902-4.261 3.964-.012.002-.029.003-.051.002Zm-28.211-17.494c-3.355 2.638-8.281 4.214-14.865 4.812a2.695 2.695 0 0 0-.258 5.331l12.931 2.454c.13.026.267.039.401.046 9.233.345 17.79 3.225 26.154 8.804 1.413 1.139 2.802 1.435 3.867 1.435.211 0 .41-.013.592-.033 3.076-.322 5.598-3.013 7.863-5.9 2.887-3.073 4.44-6.838 4.869-11.808 5.452-14.607 8.17-28.147 8.547-42.584a2.68 2.68 0 0 0-.094-.784c7.48-4.562 13.507-6.511 17.917-5.791a2.699 2.699 0 0 0 3.092-2.226 2.696 2.696 0 0 0-2.226-3.092c-5.859-.953-13.009 1.23-21.859 6.675-5.22 2.513-9.63 3.46-13.116 2.826a2.695 2.695 0 0 0-3.134 2.167 2.701 2.701 0 0 0 2.167 3.134c1.042.189 2.112.284 3.222.284 2.364 0 4.893-.433 7.621-1.303-5.306 12.432-11.041 19.579-17.482 21.81-4.148 1.439-8.742.929-13.975-1.563 1.085-3.266 1.942-7.324 2.655-12.51a2.71 2.71 0 0 0-.04-.956c.691-1.025.423-2.692-1.388-5.385-8.76-11.398-12.193-14.903-12.334-13.53l10.263 16.94a2.858 2.858 0 0 0-.302.118 730.656 730.656 0 0 0-18.603 8.975l-.572-.771-3.115-19.516c-1.779 7.565-2.61 15.222-1.196 23.111 3.782 5.175 6.836 6.554 9.324 4.982 2.285.862 5.11 1.6 8.537 2.235-.081 1.841-.369 3.52-.869 5.042l-4.594 6.571Zm15.832 10.912c-2.582-8.373-1.689-14.542 2.715-18.687-2.511-.338-5.112-1.102-7.792-2.29-.297 3.273-1.151 6.038-2.419 8.371 1.854 2.415 5.057 8.014 3.758 9.268-1.094 1.057-5.6-1.823-8.279-3.801-1.514 1.257-3.203 2.288-4.999 3.131l1.267.443c5.375.372 10.638 1.565 15.749 3.565Zm-8.939-27.74c.067-.035.135-.066.204-.095.623-1.861 1.17-4.055 1.66-6.662a726.083 726.083 0 0 0-9.813 4.742c1.831.676 4.388 1.375 7.949 2.015Zm12.008-79.294a30.67 30.67 0 0 1 4.765-.387c5.484 0 8.951 1.65 9.156 2.942.101.654-.684 1.904-2.669 3.225-2.425 1.614-5.995 2.881-9.797 3.479-8.182 1.289-13.663-.924-13.92-2.555-.104-.654.68-1.904 2.666-3.225 2.424-1.614 5.998-2.884 9.799-3.479Zm-17.786 7.541c.725 4.628 6.603 7.492 14.47 7.492 1.78 0 3.661-.146 5.608-.452 4.608-.723 8.849-2.259 11.944-4.316 3.708-2.467 5.485-5.504 5.006-8.547-.895-5.676-9.526-8.703-20.081-7.043-4.606.726-8.85 2.259-11.945 4.319-3.707 2.467-5.484 5.501-5.002 8.547Zm-66.34 25.548c-6.975 4.472-9.604 9.761-8.713 11.154.892 1.39 6.796 1.211 13.774-3.261 3.239-2.077 5.995-4.674 7.567-7.128 1.286-2.008 1.501-3.469 1.146-4.026-.358-.556-1.777-.97-4.137-.641-2.887.404-6.398 1.826-9.637 3.902Zm-6.073 17.27c-3.225 0-5.797-1.058-7.177-3.209-3.098-4.834 1.348-12.83 10.344-18.598 3.925-2.516 8.117-4.185 11.798-4.699 4.41-.616 7.753.471 9.416 3.069 1.663 2.594 1.259 6.089-1.143 9.835-2.005 3.131-5.272 6.243-9.197 8.759-4.993 3.199-10.025 4.843-14.041 4.843Zm114.392-19.041c2.741-1.761 6.12-1.39 7.537.822 1.424 2.21.351 5.437-2.389 7.193-2.741 1.761-6.119 1.393-7.54-.82-1.421-2.213-.349-5.435 2.392-7.195Zm-84.807 55.971c-9.497 2.721-22.099-1.162-37.474-11.548 4.217-9.74 9.204-16.085 14.869-18.921-2.816 11.905 5.153 26.871 14.033 25.836 6.688 1.545 11.271-2.663 14.88-9.114.675-2.802.804-5.512.63-8.172a84.71 84.71 0 0 0 8.531 6.996c-3.86 8.069-9.057 13.087-15.469 14.923Zm-42.347-8.358c13.888 9.696 26.002 14.578 36.15 14.578 2.701 0 5.266-.349 7.681-1.042 8.56-2.451 15.232-9.175 19.837-19.977a2.69 2.69 0 0 0-.966-3.284c-4.42-3.001-8.326-6.256-12.293-10.246a2.525 2.525 0 0 0-.339-.289c-10.89-7.818-20.66-10.552-29.044-8.118-9.013 2.611-16.202 10.842-21.98 25.162a2.69 2.69 0 0 0 .954 3.216Zm28.323-20.847c2.659 0 4.817 2.079 4.817 4.644 0 2.561-2.158 4.641-4.817 4.641-2.659 0-4.817-2.08-4.817-4.641 0-2.565 2.158-4.644 4.817-4.644Zm14.639 14.511c0-.879-.742-1.591-1.653-1.591s-1.653.712-1.653 1.591c0 .882.742 1.595 1.653 1.595s1.653-.713 1.653-1.595Zm.43-6.223c.651 0 1.181.511 1.181 1.139 0 .631-.53 1.142-1.181 1.142s-1.181-.511-1.181-1.142c0-.628.53-1.139 1.181-1.139Z' clip-rule='evenodd'/%3E%3Ctext xml:space='preserve' font-family='Montserrat' font-size='20' letter-spacing='0em' style='white-space:pre'%3E%3Ctspan x='0' y='26.17'%3EChoose a newsletter %3C/tspan%3E%3Ctspan x='0' y='50.17'%3Eto review!%3C/tspan%3E%3C/text%3E%3C/g%3E%3C/svg%3E");
			}
		}
	}
}

@media (max-width: 1080px) {

	.newsletter {
		flex-wrap: wrap;

		.kks-news-list-column {
			flex-basis: 100% !important;
			width: 100vw;
			margin-bottom: 0;

			.news-links {
				display: block;

				span,
				a {
					white-space: normal;
				}
			}
		}

		.kks-news-issue-column {
			flex-direction: column;
			flex-basis: 100% !important;
			height: auto;
			width: 100vw;
			max-width: 100vw;
		}

		.iframe-container {
			aspect-ratio: 9/16;

			.iframe {
				width: 90vw !important;
				max-width: auto;
				height: 100%;
			}
		}
	}
}

